section.accesories-new-arrivals
	.container
		.row
			.col-sm-5.col-md-5
				.sing-banner
					a(href='')
						img(src='assets/images/banner1.jpg', alt='')
			.col-sm-7.col-md-7
				.sing-banner
					a(href='')
						img(src='assets/images/banner2.jpg', alt='')