section.blog
	.container
		.row
			.col-md-12
				.area-heading
					h2 blog
		.row
			.blog-carousel
				// single blog
				.col-md-3
					.single-blog
						.blog-image
							a(href='#')
								img(src='assets/images/blog2.jpg', alt='')
						.blog-contain
							h2.blog-heading
								a(href='#') the sample heading title
							.articles-date 27/11/2015
							p Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do...
							.readmore
								a(href='#') Read more ...
				.col-md-3
					.single-blog
						.blog-image
							a(href='#')
								img(src='assets/images/blog1.jpg', alt='')
						.blog-contain
							h2.blog-heading
								a(href='#') the sample heading title
							.articles-date 27/11/2015
							p Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do...
							.readmore
								a(href='#') Read more ...
				.col-md-3
					.single-blog
						.blog-image
							a(href='#')
								img(src='assets/images/blog2.jpg', alt='')
						.blog-contain
							h2.blog-heading
								a(href='#') the sample heading title
							.articles-date 27/11/2015
							p Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do...
							.readmore
								a(href='#') Read more ...
				.col-md-3
					.single-blog
						.blog-image
							a(href='#')
								img(src='assets/images/blog3.jpg', alt='')
						.blog-contain
							h2.blog-heading
								a(href='#') the sample heading title
							.articles-date 27/11/2015
							p Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do...
							.readmore
								a(href='#') Read more ...