section.clothing-equipment
	.container
		.row
			.col-md-12
				.tab-button
					ul.tab-top
						li.active
							a(data-toggle='tab', href='#cloth') clothing
						li
							a(data-toggle='tab', href='#equipment') equipments
						li
							a(data-toggle='tab', href='#jewellery') jewellery
		.row					
			.col-md-4.clothing-box
				.clothing-img.col-md-6
					a(href='')
						img(src='assets/images/a2.jpg')
					.label_sale
						span sale
					.label_new
						span new
				.deliver-wide.col-md-6
					.name
						a(href='') Deliver Wide
					.price
						span.tachado $242.00
						span.price-new $218.00
					.rating
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o
					.button-cart
						.cart
							i.fa.fa-shopping-cart
							input.button(type='button', value='Add to Cart')
			.col-md-4.clothing-box
				.clothing-img.col-md-6
					a(href='')
						img(src='assets/images/d2.jpg', alt='')
					.label_new
						span new
				.deliver-wide.col-md-6
					.name
						a(href='') Deliver Wide
					.price
						span.price-new $218.00
					.rating
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o
					.button-cart
						.cart
							i.fa.fa-shopping-cart
							input.button(type='button', value='Add to Cart')
			.col-md-4.clothing-box
				.clothing-img.col-md-6
					a(href='')
						img(src='assets/images/g2.jpg', alt='')
					.label_new
						span new
				.deliver-wide.col-md-6
					.name
						a(href='') Deliver Wide
					.price
						span.price-new $218.00
					.rating
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o
					.button-cart
						.cart
							i.fa.fa-shopping-cart
							input.button(type='button', value='Add to Cart')
		.row					
			.col-md-4.clothing-box
				.clothing-img.col-md-6
					a(href='')
						img(src='assets/images/a2.jpg')
					.label_sale
						span sale
					.label_new
						span new
				.deliver-wide.col-md-6
					.name
						a(href='') Deliver Wide
					.price
						span.tachado $242.00
						span.price-new $218.00
					.rating
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o
					.button-cart
						.cart
							i.fa.fa-shopping-cart
							input.button(type='button', value='Add to Cart')
			.col-md-4.clothing-box
				.clothing-img.col-md-6
					a(href='')
						img(src='assets/images/d2.jpg', alt='')
					.label_new
						span new
				.deliver-wide.col-md-6
					.name
						a(href='') Deliver Wide
					.price
						span.price-new $218.00
					.rating
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o
					.button-cart
						.cart
							i.fa.fa-shopping-cart
							input.button(type='button', value='Add to Cart')
			.col-md-4.clothing-box
				.clothing-img.col-md-6
					a(href='')
						img(src='assets/images/g2.jpg', alt='')
					.label_new
						span new
				.deliver-wide.col-md-6
					.name
						a(href='') Deliver Wide
					.price
						span.price-new $218.00
					.rating
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o
					.button-cart
						.cart
							i.fa.fa-shopping-cart
							input.button(type='button', value='Add to Cart')			