section.info-selling
	.container
		.row
			.col-md-4
				.sin-order
					span
						i.fa.fa-phone-square
					.order-right
						p.title ORDER ONLINE NOW
						p.subline
							| Call Us: 
							span (0123) 456 789
			.col-md-4
				.sin-order
					span
						i.fa.fa-plane
					.order-right
						p.title FREE WORLDWIDE SHIPPING
						p.subline On Order Over $100
			.col-md-4
				.sin-order
					span
						i.fa.fa-money
					.order-right
						p.title 30 DAYS MONEY BACK 100%
						p.subline Satisfaction Guarantee