section.latest-bestseller-sale-slider
	.container
		.row
			.col-md-12
				.tab-button
					ul.tab-top
						li.active
							a(data-toggle='tab', href='#home') latest
						li
							a(data-toggle='tab', href='#menu1') bestseller
						li
							a(data-toggle='tab', href='#menu2') sale
			.col-md-12.no-padding
				.tab-content
					#home.tab-pane.active
						.tab-carousel-start
							// single product
							.col-md-3
								.sin-product
									.product-top
										.pro-img
											a(href='')
												img.image1(src='assets/images/a1.jpg', alt='')
										.label_new
											span new
										.name
											a(href='') Deliver Wide
										.rating
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star-o
											i.fa.fa-star-o
										.price
											span.price-new $218.00
							// single product
							.col-md-3
								.sin-product
									.product-top
										.pro-img
											a(href='')
												img.image1(src='assets/images/b1.jpg', alt='')
										.label_new
											span new
										.label_sale
											span sale
										.name
											a(href='') Deliver Wide
										.rating
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star-o
											i.fa.fa-star-o
										.price
											span.price-old $242.00
											span.price-new $218.00
							// single product
							.col-md-3
								.sin-product
									.product-top
										.pro-img
											a(href='')
												img.image1(src='assets/images/c1.jpg', alt='')
										.label_sale
											span sale
										.name
											a(href='') Deliver Wide
										.rating
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star-o
											i.fa.fa-star-o
										.price
											span.price-old $242.00
											span.price-new $218.00
										
							// single product
							.col-md-3
								.sin-product
									.product-top
										.pro-img
											a(href='')
												img.image1(src='assets/images/d1.jpg', alt='')
										.label_sale
											span sale
										.name
											a(href='') Deliver Wide
										.rating
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star-o
											i.fa.fa-star-o
										.price
											span.price-new $218.00						