section.sponsor
	.container
		.row
				.col-md-2
					.single-client
						a(href='')
							img(src='assets/images/client1.jpg', alt='')
				.col-md-2
					.single-client
						a(href='')
							img(src='assets/images/client2.jpg', alt='')
				.col-md-2
					.single-client
						a(href='')
							img(src='assets/images/client3.jpg', alt='')
				.col-md-2
					.single-client
						a(href='')
							img(src='assets/images/client4.jpg', alt='')
				.col-md-2
					.single-client
						a(href='')
							img(src='assets/images/client5.jpg', alt='')
				.col-md-2
					.single-client
						a(href='')
							img(src='assets/images/client6.jpg', alt='')