section.sub-header-slider
	.slider-area
		.bend.niceties.preview-2
			#ensign-nivoslider.slides
				img(src='assets/images/slider1.jpg', alt='', title='#slider-direction-1')
			// direction 1
			#slider-direction-1.t-cn.slider-direction
				.slider-progress
				.slider-content.t-cn.s-tb.slider-1
					.title-container.s-tb-c.title-compress
						h3.title1
							span AUTUMN/WINTER LOOKBOOK
						h2.title2
							span - 2016 COLLECTION -