doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Fashion-accesories
    // Fonts
    link(href='assets/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='assets/css/bootstrap.css', rel='stylesheet')
    link(href='assets/sass/main.css', rel='stylesheet')
  body
        include layout/header.jade
        include sections/sub-header-contact-us.jade
        include sections/map-form.jade
        include layout/footer.jade
    block main      
    script(src="assets/js/bootstrap.min.js" language="javascript" type="text/javascript")
    script(src="assets/js/jquery.js" language="javascript" type="text/javascript")
    script(src="assets/js/main.js" language="javascript" type="text/javascript")