footer
		.container
			.row
				.col-sm-6.col-md-3
					.fall-footer
						h5 Accessories
						.footer-lorem
							p
								| Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labor et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris
						.social
							.social-ite
								a(href='')
									i.fa.fa-facebook
									span facebook 
							.social-ite
								a(href='')
									i.fa.fa-twitter
									span twitter 
							.social-ite
								a(href='')
									i.fa.fa-rss
									span rss 
							.social-ite
								a(href='')
									i.fa.fa-skype
									span skype 
							.social-ite
								a(href='')
									i.fa.fa-dribbble
									span dribble
				.col-sm-6.col-md-2
					.fall-footer
						h5 My Account
						ul
							li
								a(href='#') My Account
							li
								a(href='#') Order History
							li
								a(href='#') Wish List
							li
								a(href='#') Newsletter
				.col-sm-6.col-md-2
					.fall-footer
						h5 information
						ul
							li
								a(href='#') About Us
							li
								a(href='#') Delivery Information
							li
								a(href='#') Privacy Policy
							li
								a(href='#') Terms & Conditions
				.col-sm-6.col-md-2
					.fall-footer
						h5 extras
						ul
							li
								a(href='#') Brands
							li
								a(href='#') Gift Vouchers
							li
								a(href='#') Affiliates
							li
								a(href='#') Specials
				.col-sm-6.col-md-3
					.fall-footer
						h5 about us
						.footer-static
							p
								i.fa.fa-map-marker
								span 8901 Marmora Road, Glasgow D04 89 GR, New York 
							p
								i.fa.fa-phone
								span
									| (0123)456789
									br
									|  (0987) 654321
							p
								i.fa.fa-envelope
								span admin@bootexperts.com
	.footer-bottom
		.container
			.row
				.col-sm-6.col-md-6
					p
						| Copyright 
						a(href='#') BootExperts.
						| All rights reserved.
				.col-sm-6.col-md-6
					.footer-payment
						img(src='assets/images/payment.png', alt='')
