header
	.header-default
		.container
			.row
				.col-md-6
					.default Default Welcome Msg!
				.col-md-6
					.language-type
						ul                 
							li
								a
									span
										img(alt='', src='assets/images/flag1.png')
										| Language
									i.fa.fa-angle-down                  
							li
								a
									span
										i.fa.fa-usd
										| Currency
									i.fa.fa-angle-down
							li
								a
									span
										i.fa.fa-user
										| My Account
									i.fa.fa-angle-down
	.header-logo
		.container
			.row
				.col-md-4
						.clock-time
							i.fa.fa-clock-o 
						p 
							span.opentime OPENING TIME
							span.time-top  9.00 AM - 10.00 PM
				.col-md-4
					.logo
						a(href='index.html')
							img(src='assets/images/logo.png')
				.col-md-4
					.input.form-search
						input.form-control(type='text', placeholder='search')
						span.input-group-btn
							button.btn.btn-default.button-search(type='button')
								i.fa.fa-search
	.header-menu
		.container
			.row
				.col-md-9
					.main-menu
						nav
							ul
								li.active
									a(href='index.html') home 
								li
									a(href='contact-us.html') contact us
				.col-md-3
					.my-cart
						button.btn.dropdown-toggle(type='button')
							span
								span
									i.fa.fa-shopping-cart
									|  My Cart
								| 2 item(s) - $244.00




															


